<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">
<!--link rel="import" href="../../css/font-awesome-style.html"-->


<dom-module id="bosh-contact">
  <template>
    <style include="bootstrap-min-style"></style>
    <style include="main-style"></style>
    <!--style include="font-awesome-style"></style-->
     <style>
      :host {
        display: block;
      }
    </style>

    <div class="col-sm-4">
      <div class="contact-info">
        <h2 class="title text-center">Informacion de contacto</h2>
          <address>
            <p> BOSH.</p>
            <p>935 Ecatepect, Estado de Mexico, CP 60614</p>
            <p>Mexico</p>
            <p>Telefono: 55 17 38 93</p>
            <p>Fax: 1-714-252-0026</p>
            <p>Email: ivette.ramirez.garcia@bbva.com</p>
          </address>
          <div class="social-networks">
            <h2 class="title text-center">Redes sociales</h2>
            <ul>
              <li>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/login?lang=es"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

  </template>

  <script>
    class BoshContact extends Polymer.Element {
      static get is() { return 'bosh-contact'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bosh-contact'
          }
        };
      }
    }

    window.customElements.define(BoshContact.is, BoshContact);
  </script>
</dom-module>
