<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">
<link rel="import" href="../../css/estilos-style.html">


<dom-module id="bosh-reporte">
  <template>
    <style include="bootstrap-min-style"></style>
    <style include="main-style"></style>
    <style include="estilos-style"></style>


    <style>
      :host {
        display: block;
      }

    </style>
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100 ver1 m-b-110">
            <div class="table100-head">
              <table>
                <thead>
                  <tr class="row100 head">
                    <th class="cell100 column1">Cliente</th>
                    <th class="cell100 column2">Credito</th>
                    <th class="cell100 column3">Enganche</th>
                    <th class="cell100 column4">Mensualidad</th>
                    <th class="cell100 column5">Total Pago</th>
                  </tr>
                </thead>
              </table>
            </div>

                <table>
                  <tbody>
                    <tr class="row100 body">
                      <td class="cell100 column1">Julieta Dominguez Ramírez</td>
                      <td class="cell100 column2">1,000,000</td>
                      <td class="cell100 column3">50,000</td>
                      <td class="cell100 column4">6000</td>
                      <td class="cell100 column5">950,000</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>

  </template>

  <script>
    class BoshReporte extends Polymer.Element {
      static get is() { return 'bosh-reporte'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bosh-reporte'
          },
          creditos: {
            type: Array,
            value: function() {
              return [
                {cliente: 'Ivette Dominguez Garcia', credito: 'Automotriz', enganche: '100,000.00', mensualidad: '5,000', pago: '330,000.00'}
            ];}
          },
          msjError: {
            type: String,
            value:''
          }
        };
      }
    }

    window.customElements.define(BoshReporte.is, BoshReporte);
  </script>
</dom-module>
