<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">

<!--/ivetteini-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--/ivettet fin-->

<dom-module id="bosh-login">
  <template>
    <style include="bootstrap-min-style"></style>
    <style include="main-style"></style>

<!--/ivette ini-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!--/ivette fin-->

    <style>
      :host {
        display: block;

      }

    </style>

    <section id="form"><!--form-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form"><!--login form-->
              <h2>Inicio Sesión</h2>
              <div>
                <input id="lEmail" value="{{email::input}}" type="text" placeholder="Email" />
                <input id="lPassword" value="{{password::input}}" type="password" placeholder="Password" />
                <button on-click="login" class="btn btn-default">Login</button>
                <!--/ivette ini-->
                              <div class="row" hidden$={{!logado}}>

                              </div>
                <!--/ivette fin-->
              </div>
            </div><!--/login form-->
          </div>
          <div class="col-sm-1">
            <h2 class="or">O</h2>
          </div>
          <div class="col-sm-4">
            <!--<h2>[[msj]]</h2>-->
            <div class="signup-form"><!--sign up form-->

              <h2>Nueva Cuenta</h2>
              <div>
                <input id="cNombre" value="{{nombre::input}}" type="text" placeholder="Nombre"/>
                <input id="cEmail1" value="{{email1::input}}" type="email" placeholder="Email"/>
                <input id="cPassword1" value="{{password1::input}}" type="password" placeholder="Password"/>
                <button on-click="signUp" class="btn btn-default">Sign up</button>
              </div>
              <!--/ivette ini-->
                            <div class="row" hidden$={{!logado}}>
                            </div>
              <!--/ivette fin-->
            </div><!--/sign up form-->
          </div>
        </div>
      </div>
    </section><!--/form-->
<!--/ivetre-ini-->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers2: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

      <iron-ajax
        id="dosignUp"
        url="http://localhost:3000/login"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method = "POST"
        handle-as = "json"
        headers = "Access-Control-Allow-Headers2: *"
        on-response = "manageAJAXResponse"
        on-error = "showError">

<!--/ivette fin-->

  </template>

  <script>
    class BoshLogin extends Polymer.Element {
      static get is() { return 'bosh-login'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bosh-login'
          },
          tipoCuenta: {
            type: String,
            notify: true
          },
          msj: {
            type: String,
            value: ''
          },
          //ivette ini
                    email: {
                      type: String,
                    },
                    password: {
                      type: String,
                    },
                    logado: {
                      type: Boolean,
                      value: false
                    },
                    nombre: {
                      type: String,
                    },
                    email1: {
                      type: String,
                    },
                    password1: {
                      type: String,
                    }
          //ivette fin

        };
      }
      login(){
        //ivette-ini
                var loginData = {
                  "email" : this.email,
                  "password" : this.password
                };
                console.log(loginData);
                this.$.doLogin.body = JSON.stringify(loginData);
                this.$.doLogin.generateRequest();
                console.log("Petición enviada")


        //ivette-fin

        //Datos Entrada Formulario
        /*let lNombre = this.$.lNombre.value;
        let lPassword = this.$.lPassword.value;

        let ltipoCliente = "Admin"

        if(lNombre == "ivette.ramirez.garcia@bbva.com"){
          this.tipoCuenta = "Administrador";
        }else{
          this.tipoCuenta = "Cliente";
        }
        this.$.lNombre.value = "";
        this.$.lPassword.value = "";*/

      }


//ivette-ini
      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        //console.log(data.detail.response);
        this.logado = true;

        let lEmail = this.$.lEmail.value;
        let lPassword = this.$.lPassword.value;

        let ltipoCliente = "Admin"

        let cNombre = this.$.cNombre.value;
        let cEmail1 = this.$.cEmail1.value;
        let cPassword1 = this.$.cPassword1.value;

        if(cNombre == ""){

        if(lEmail == "ivette.ramirez.garcia@bbva.com"){
          this.tipoCuenta = "Administrador";
        }else{
          this.tipoCuenta = "Cliente";
        }
        this.$.lEmail.value = "";
        this.$.lPassword.value = "";
      }
      this.$.cEmail1.value = "";
      this.$.cPassword1.value = "";
      this.$.cNombre.value = "";
      }

      showError(){
        console.log("Hubo un error en iron-ajax");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
        this.logado = false;
      }
//ivette-fin
      signUp(){


        var signData = {
          "nombre" : this.nombre,
          "email1" : this.email1,
          "password1" : this.password1
        };
        console.log(signData);
        this.$.dosignUp.body = JSON.stringify(signData);
        this.$.dosignUp.generateRequest();
        console.log("Petición enviada")

      }
    }

    window.customElements.define(BoshLogin.is, BoshLogin);
  </script>
</dom-module>
