<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="bosh-login.html">
<link rel="import" href="bosh-contact.html">
<link rel="import" href="bosh-auto.html">
<link rel="import" href="bosh-casa.html">
<link rel="import" href="bosh-carrusel.html">
<link rel="import" href="bosh-reporte.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">

<dom-module id="bosh-credit-app">
  <template>
    <style include="bootstrap-min-style"></style>
    <style include="main-style"></style>
    <style>
      :host {
        display: block;
      }
    </style>
    <header id="header"><!--header-->
      <div class="header-middle"><!--header-middle-->
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="logo pull-left">
                <a href="../../index.html"><img src="../../images/home/bosh.JPG" alt="" /></a>
              </div>

            </div>
            <div class="col-sm-8">
              <div class="shop-menu pull-right">
                <ul class="nav navbar-nav">
                  <li><a href="#"><i class="fa fa-user"></i> {{tipoCuenta}} </a></li>
                  <!--li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li-->
                  <li><a href="#" on-click="ocLogin"><i class="fa fa-user"></i>Login</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!--/header-middle-->

      <div class="header-bottom"><!--header-bottom-->
        <div class="container">
          <div class="row">
            <div class="col-sm-9">

              <div class="mainmenu pull-left">
                <ul class="nav navbar-nav collapse navbar-collapse">
                  <li><a href="../../index.html" class="active">Inicio</a></li>
                  <li class="dropdown"><a href="#">Creditos<i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="sub-menu">
                      <li><a href="#" on-click="ocCasa">Casa </a></li>
                      <li><a href="#" on-click="ocAuto">Automotriz</a></li>
                    </ul>
                  </li>
                  <li><a href="#" on-click="ocContacto">Contacto</a></li>
                  <li><a id="aReporte" href="#" on-click="ocReporte" style="display:none;">Reporte</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div><!--/header-bottom-->
    </header>

    <div id="showComponent" style="display:block;">
      <bosh-carrusel me-interesa={{meInteresa}} tipo-cuenta="[[tipoCuenta]]"></bosh-carrusel>
    </div>

    <div id="showComponent_Login" style="display:none;">
      <bosh-login tipo-cuenta="{{tipoCuenta}}"></bosh-login>
    </div>

    <div id="showComponent_Casa" style="display:none;">
      <bosh-casa></bosh-casa>
    </div>

    <div id="showComponent_Auto" style="display:none;">
      <bosh-auto></bosh-auto>
    </div>

    <div id="showComponent_Contacto" style="display:none;">
      <bosh-contact></bosh-contact>
    </div>

    <div id="showComponent_Reporte" style="display:none;">
      <bosh-reporte creditos="[[creditos]]" msj-error="[[msjError]]"></bosh-reporte>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BoshCreditApp extends Polymer.Element {
      static get is() { return 'bosh-credit-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bosh-credit-app'
          },
          tipoCuenta: {
            type: String,
            value: 'Cuenta',
            observer:"_tipoCuentaChanged"
          },
          meInteresa: {
            type: String,
            observer:"_meInteresaChanged"
          },
          creditos: {
            type: Array,
            value: function() {
              return [];}
          },
          msjError: {
            type: String,
            value:''
          }
        };
      }

      ocLogin(){
        if(this.tipoCuenta == "Cuenta"){
          this.$.showComponent.style.display="none";
          this.$.showComponent_Login.style.display="block";
          this.$.showComponent_Casa.style.display="none";
          this.$.showComponent_Auto.style.display="none";
          this.$.showComponent_Contacto.style.display="none";
          this.$.showComponent_Reporte.style.display="none";
        }else{
          this.inicio();
        }
      }

      ocCasa(){
        if(this.tipoCuenta !="Cuenta"){
          this.$.showComponent.style.display="none";
          this.$.showComponent_Login.style.display="none";
          this.$.showComponent_Casa.style.display="block";
          this.$.showComponent_Auto.style.display="none";
          this.$.showComponent_Contacto.style.display="none";
          this.$.showComponent_Reporte.style.display="none";
        }else{
          this.ocLogin();
        }
      }
      ocAuto(){
        if(this.tipoCuenta !="Cuenta"){
          this.$.showComponent.style.display="none";
          this.$.showComponent_Login.style.display="none";
          this.$.showComponent_Casa.style.display="none";
          this.$.showComponent_Auto.style.display="block";
          this.$.showComponent_Contacto.style.display="none";
          this.$.showComponent_Reporte.style.display="none";
        }else{
          this.ocLogin();
        }
      }
      ocContacto(){
        this.$.showComponent.style.display="none";
        this.$.showComponent_Login.style.display="none";
        this.$.showComponent_Casa.style.display="none";
        this.$.showComponent_Auto.style.display="none";
        this.$.showComponent_Contacto.style.display="block";
        this.$.showComponent_Reporte.style.display="none";
      }
      ocReporte(){
        this.consultaReporte();

        this.$.showComponent.style.display="none";
        this.$.showComponent_Login.style.display="none";
        this.$.showComponent_Casa.style.display="none";
        this.$.showComponent_Auto.style.display="none";
        this.$.showComponent_Contacto.style.display="none";
        this.$.showComponent_Reporte.style.display="block";
      }

      consultaReporte(){

        let lmsjError = "no"
        if(lmsjError == "ok"){
          this.creditos = [
                {cliente: 'Ivette Dominguez Garcia', credito: 'Automotriz', enganche: '100,000.00', mensualidad: '5,000', pago: '330,000.00'},
                {cliente: 'Lorena Ruiz Perez', credito: 'Automotriz', enganche: '200,000.00', mensualidad: '5,000', pago: '530,000.00'},
                {cliente: 'Juan Perez Leon', credito: 'Casa', enganche: '300,000.00', mensualidad: '10,000', pago: '1,00,000.00'},
                {cliente: 'Lidia Ramirez Garci', credito: 'Casa', enganche: '350,000.00', mensualidad: '8,000', pago: '900,000.00'},
                {cliente: 'Renato Ramirez Leon', credito: 'Casa', enganche: '300,000.00', mensualidad: '10,000', pago: '700,000.00'}
            ];
            this.msjError = "";
          } else {
            this.msjError = "No hay datos a mostrar";
            this.creditos =[];
          }
        }


      _tipoCuentaChanged(valorActual, valorAnterior){

        if(this.tipoCuenta == "Administrador"){
          this.$.aReporte.style.display="block";
          this.inicio();
        }else if(this.tipoCuenta =="Cliente"){
          this.$.aReporte.style.display="none";
          this.inicio();
        }

      }
      _meInteresaChanged(valorActual, valorAnterior){

        if(this.tipoCuenta != "Cuenta"){
          if(this.meInteresa =="Casa"){
            this.ocCasa();
          } else {
            this.ocAuto();
          }
        }
        if(this.tipoCuenta == "Cuenta" && valorActual){
           this.ocLogin();
        }
      }

      inicio(){
        this.$.showComponent.style.display="block";
        this.$.showComponent_Login.style.display="none";
        this.$.showComponent_Casa.style.display="none";
        this.$.showComponent_Auto.style.display="none";
        this.$.showComponent_Contacto.style.display="none";
      }
    }

    window.customElements.define(BoshCreditApp.is, BoshCreditApp);
  </script>
</dom-module>
