<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../css/animate-style.html">
<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/estilos-style.html">
<link rel="import" href="../../css/font-awesome-min-style.html">
<link rel="import" href="../../css/font-awesome-style.html">
<link rel="import" href="../../css/main-style.html">
<link rel="import" href="../../css/pretty-photo-style.html">
<link rel="import" href="../../css/price-range-style.html">
<link rel="import" href="../../css/responsive-style.html">
<link rel="import" href="../../css/util-style.html">

<dom-module id="bosh-carrusel">
  <template>
    <style include="animate-style"></style>
    <style include="bootstrap-min-style"></style>
    <style include="estilos-style"></style>
    <style include="font-awesome-min-style"></style>
    <style include="font-awesome-style"></style>
    <style include="main-style"></style>
    <style include="pretty-photo-style"></style>
    <style include="price-range-style"></style>
    <style include="responsive-style"></style>
    <style include="util-style"></style>   
    <style>
      :host {
        display: block;
      }            
    </style>

    <section id="slider"><!--slider-->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="slider-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#slider-carousel" data-slide-to="0" class$="[[active]]"></li>
                <li data-target="#slider-carousel" data-slide-to="1" class$="[[noactive]]"></li>
                <!--li data-target="#slider-carousel" data-slide-to="2"></li-->
              </ol>
            
              <div class="carousel-inner">
                <div class$="item [[active]]">
                  <div class="col-sm-6">
                    <h1><span>P</span>-CASA</h1>
                    <h2>Adquiere un hogar digno para tu familia</h2>
                    <p>Tu hogar es la muy importante para la estbilidad de tu familia. </p>
                    <button on-click="btnMeInteresa_Casa" class="btn btn-default get">Me interesa</button>
                    <!--a href="casa.html">
                    <button type="button" class="btn btn-default get">Me interesa</button> </a-->
                  </div>
                  <div class="col-sm-6">
                    <img src="../../images/home/casa.jpg" class="girl img-responsive" alt="" />
                  </div>
                </div>

                <div class$="item [[noactive]]">
                  <div class="col-sm-6">
                    <h1><span>P</span>-AUTOMOVIL</h1>
                    <h2>Diviertete con tu pareja estrenando un nuevo auto</h2>
                    <p> Deja de sufrir con tu auto antiguo y comieza a divertirte en un nuevo. </p>
                    <button on-click="btnMeInteresa_Auto" class="btn btn-default get">Me interesa</button>
                    <!--a href="auto.html">
                    <button type="button" class="btn btn-default get">Me interesa</button></a-->                    
                  </div>
                  <div class="col-sm-6">
                    <img src="../../images/home/auto.jpg" class="girl img-responsive" alt="" />
                  </div>
                </div>

              </div>

              <a href="#" class="left control-carousel hidden-xs" on-click="ocPrev">
                <i class="fa" >&#x276E;</i>
              </a>
              <a href="#" class="right control-carousel hidden-xs" on-click="ocNext">
                <i class="fa">&#x276F;</i>
              </a>
            </div>          
          </div>
        </div>
      </div>
    </section><!--/slider-->      
    
  </template>
  <script>
    class BoshCarrusel extends Polymer.Element {
      static get is() { return 'bosh-carrusel'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bosh-carrusel'
          },
          meInteresa: {
            type: String,
            value: '',
            notify: true
          },
          tipoCuenta: {
            type: String
          },
          active: {
            type: String,
            value: 'active'
          },
          noactive: {
            type: String,
            value: ''
          }
        };        
      }
      btnMeInteresa_Casa(){
        this.meInteresa ="";
        if(this.tipoCuenta != "Cuenta"){
          this.meInteresa = "Casa";
        } else {
          this.meInteresa = "Logearse";
        }
      }
      btnMeInteresa_Auto(){
        this.meInteresa ="";
        if(this.tipoCuenta != "Cuenta"){
          this.meInteresa = "Auto";
        }  else {
          this.meInteresa = "Logearse";
        }
      }
      ocPrev(){
        if(this.active == ""){
          this.active = "active";
          this.noactive = "";
        }else{
          this.active = "";
          this.noactive = "active";
        }
      }
      ocNext(){
        if(this.active == ""){
          this.active = "active";
          this.noactive = "";
        }else{
          this.active = "";
          this.noactive = "active";
        }
        
      }

    }

    window.customElements.define(BoshCarrusel.is, BoshCarrusel);
  </script>
</dom-module>